@media screen and (max-width: @responsive-mobile) {

    .header {
        .transition(all, 1s);
        padding: 5*@grid;
        padding-top: 12*@grid + 5*@grid;
        padding-bottom: 12*@grid;
        text-align: left;

        .headline {
            margin: 0px;

            .edition {
                margin: 0px;
                margin-top: 4*@grid;
                margin-bottom: 4*@grid;
            }
        }
        
    }

    .minimize {
        max-height: 265px;
        padding-top: 8*@grid;
        padding-bottom: 4*@grid;

        .headline .edition {
            margin-top: 2*@grid;
            margin-bottom: 2*@grid;
        }
    }

    .hidden {
        max-height: 0px;
        padding: 0px;
        opacity: 0;
        overflow: hidden;
    }

}